@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    color: #FDF0D5;
    background: linear-gradient(335deg, #003049, #669BBC);
    background-attachment: fixed;
}

#navigation {
    display: none;
    margin: 0;
    padding: 0;
    background-color: #2c211d84;
}

nav,
#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 2em;
}

nav a {
    display: inline-block;
    color: #FDF0D5;
    text-decoration: none;
    padding: .5em;
    letter-spacing: .15em;
}

nav a:hover,
nav a:focus {
    background-color: #003049;
}


.hamburger {
    width: 1.5em;
    /* height: 4em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    border: .125em solid #FDF0D5;
    border-radius: 3px;
    padding: .75em 1.5em;
    position: absolute;
    top: 2em;
    right:02em;

    z-index: 5;
}

.hamburger-line {
    display: inline-block;
    width: 1.5rem;
    height: .125em;
    background-color: #FDF0D5;
    border-radius: .125em;
}

#nav-open-btn:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
    #navigation,
    nav {
        display: block;
    }

    #nav-open-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 2em;
    }
}


/* These should be done with an HTML tag */
.container {
    min-height: 100vh;
    width: 100%;
}

#hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    z-index: 0;
}

.main-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    margin: auto;
}

#hero h1,
#contact-section h1 {
    padding: 0;
    line-height: .75em;
    font-size: 3rem;
    letter-spacing: 5px;
    /* letter-spacing: 10px; */
    margin-bottom: 0px;
    /* text-shadow: 3px 3px 3px #003049; */
}

#hero h3 {

    margin-top: 0px;
    letter-spacing: .15em;
}

.maroon-txt {
    color: #780000;
}

#maroon-bar {
    display: inline-block;
    background-color: #780000;
    height: 1em;
    width: 11.1em;
    /* padding: 3px 150px; */
}

#about-section {
    /* letter-spacing: 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 0px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 2px;
 }

 #portfolio-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 0px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 2px;
 }

 #about-info {
    width: 60%;
    margin: 0 auto;
 }

 .buttons {
    margin: 20px auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    border: none;
 }

 button,
 a[type="button"]{
    padding: 15px 30px;
    font-size: 1.05rem;
    text-decoration: none;
 }

 #resume-btn {
    background-color: #003049;
    color:#FDF0D5;
 }

 #contact-btn {
    background-color: #780000;
    color:#FDF0D5;
 }

 #contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 form {
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
 }

 .input-group {
    margin-bottom: 30px;
    position: relative;
 }

 input,
 textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #FDF0D5;
    background: transparent;
    font-family: "Jost", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 2px;
    color:#FDF0D5;
 }

 label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #FDF0D5;
    cursor: text;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 2px;
    transition: 0.2s;
 }

 #submit-btn {
    text-shadow: none;
    background-color:#780000;
    color:#FDF0D5;
    padding: 15px 30px;
    font-size: 1.05rem;
    font-family: "Jost", sans-serif;
    outline: 0;
    border: 0px;
    box-shadow: none;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 2px;
    width: 30%;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
 }

 .material-symbols-outlined {
    vertical-align: text-bottom;
 }

 input:focus~label,
 input:valid~label,
 textarea:focus~label,
 textarea:valid~label {
    top: -35px;
    font-size: 1rem;
 } 

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row .input-group {
    flex-basis: 46%;
}

/* Portfolio Section */
.project-card {
    width: 300px;
    border: 5px solid #003049;
    border-radius: 15px;
    padding: 5px;
}

.project-title {
    padding: 10px;
}

.project-img {
    height: 300px;
    width: 300px;
}

.project-info {
    padding: 10px;
}

#pwgenerator-img-display {
    background: url("pwgenerator-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#calculator-img-display {
    background: url("calculator-project-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#pwgenerator-img-display img {
    transform: rotate(-30deg);
}

.project-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-link a {
    margin: 0 auto;
    margin-bottom: 10px;
    color: #FDF0D5;
    text-decoration: none;
}
